hr {
  border: 0;
  border-top: 1px solid #e0e0e0; 
  opacity: 1;
} 

.navbar-brand {
  letter-spacing: 1px;
}


.cart {
  background-color: #E8E8E8;
}

.cart .col-lg-8 .border-bottom {
  border-bottom: none !important;
}

.btn-checkout {
  background-color: #751FFE !important;
  border-radius: 20px !important;
}

.btn-checkout:hover {
  background-color: #750fbe !important;
}

.product-text {
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;   
  display: block;
  max-width: 70%;            
}

.cart .d-flex.align-items-center {
  gap: 1rem;
  align-items: center;
}

.input-group-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-thumbnail {
  flex-shrink: 0;
}

.flex-grow-1.text-center.text-sm-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  max-width: 50%;
}


.d-flex.flex-column.flex-sm-row.align-items-center {
  flex-direction: row !important;  
  align-items: center;             
  gap: 1rem;
}


.d-flex.align-items-center {
  display: flex;
  align-items: center; 
  gap: 0.75rem;        
}

.input-group-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;    
}


